<ion-header>
    <ion-toolbar>
        
        <ion-title text-center>
          Culturas
          <ion-button (click)="mostrarModal()" float-right>Nuevo
            <ion-icon name="md-add" float-right></ion-icon>
          </ion-button>
        </ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder="Buscar..." color="dark" (ionChange)="buscarParroquia($event)"></ion-searchbar> 
  <ion-card *ngFor="let parroquia of parroquias | filter:textoBuscar">
    <ion-item>
      <ion-icon name="logo-freebsd-devil" slot="start"></ion-icon>
      <ion-label>{{parroquia.nombreParroquia}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="enviarParametros(parroquia)" >Mas..</ion-button>
    </ion-item>
    <img src="{{parroquia.imagen}}" />
    
    <ion-card-content>
      {{parroquia.descripcion| words : 25}}
    </ion-card-content>
  </ion-card>

</ion-content>