<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-button fill="outline" size="small" (click)="regresar()">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Regresar
    </ion-button>
    <ion-card>
      <img src="{{imagen}}"/>
      <ion-card-header>
        <ion-card-subtitle>{{provincia}}</ion-card-subtitle>
        <ion-card-title>{{titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{descripcion}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>