<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{parroquiaEnviada.nombreParroquia}}</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-button fill="outline" size="small" (click)="regresar()">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Regresar
    </ion-button>
    <ion-card>
      <img src="{{parroquiaEnviada.imagen}}" />
      <ion-card-header>
        <ion-card-subtitle>{{parroquiaEnviada.ubicacion}}</ion-card-subtitle>
        <ion-card-title>{{parroquiaEnviada.idLenguaNativa}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{parroquiaEnviada.descripcion}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>