<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center>Agregar Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form name="formCultura" #formCultura="ngForm" (ngSubmit)="AddCultura(formCultura)">
      <ion-item>
        <ion-label position="floating">Titulo:</ion-label>
        <ion-input type="text" name="titulo" placeholder="Ingresa el titulo de tu publicacion" [(ngModel)]="titulo">
        </ion-input>
      </ion-item>

      <ion-list>
          <ion-list-header>Seleccione una Provincia: </ion-list-header>
        
          <ion-item>
            <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="provincia">
                <ion-select-option value="Bolívar">Bolívar</ion-select-option>
                <ion-select-option value="Cañar">Cañar</ion-select-option>
                <ion-select-option value="Carchi">Carchi</ion-select-option>
                <ion-select-option value="Chimborazo">Chimborazo</ion-select-option>
                <ion-select-option value="Cotopaxi">Cotopaxi</ion-select-option>
                <ion-select-option value="El Oro">El Oro</ion-select-option>
                <ion-select-option value="Esmeraldas">Esmeraldas</ion-select-option>
                <ion-select-option value="Galápagos">Galápagos</ion-select-option>
                <ion-select-option value="Guayas">Guayas</ion-select-option>
                <ion-select-option value="Imbabura">Imbabura</ion-select-option>
                <ion-select-option value="Loja">Loja</ion-select-option>
                <ion-select-option value="Los Ríos">Los Ríos</ion-select-option>
                <ion-select-option value="Manabí">Manabí</ion-select-option>
                <ion-select-option value="Morona Santiago">Morona Santiago</ion-select-option>
                <ion-select-option value="Napo">Napo</ion-select-option>
                <ion-select-option value="Orellana">Orellana</ion-select-option>
                <ion-select-option value="Pa">Pastaza</ion-select-option>
                <ion-select-option value="black">Pichincha</ion-select-option>
                <ion-select-option value="red">Santa Elena</ion-select-option>
                <ion-select-option value="brown">Santo Domingo de los Tsáchilas</ion-select-option>
                <ion-select-option value="blonde">Sucumbíos</ion-select-option>
                <ion-select-option value="black">Tungurahua</ion-select-option>
                <ion-select-option value="red">Zamora Chinchipe</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
          <ion-label position="floating">Descripción</ion-label>
        <ion-textarea rows="6" cols="40" name="descripcion" [(ngModel)]="descripcion" placeholder="Ingresa la descripcion...">
        </ion-textarea>
      </ion-item>
  
        </ion-list>
        <label class="file">
          <ion-input type="file" accept=".png, .jpg" id="file" (change)="onUpload($event)"></ion-input>
          <span class="file-custom"></span>
        </label>
      <!--ion-item>
        <ion-label position="floating">Subir Imagen:</ion-label>
        <ion-input type="file" accept=".png, .jpg" (change)="onUpload($event)"></ion-input>
      </ion-item-->

      <ion-input type="hidden" [value]="urlImage | async" name="imagen" [(ngModel)]="imagen"></ion-input>

      <ion-button type="submit" *ngIf="urlImage | async; else btnDisabled" block>Subir</ion-button>

    </form>
  </ion-card>
</ion-content>