<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
  
        Ayllu Llakta
        <img class="alineado" height="50" src="../../assets/img/Logolenguas.png">     
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
        
  <ion-slides>
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Culturas y Formulario para Ingresar Culturas</ion-card-title>
            </ion-card-header>
            <ion-card-content text-left>
    Modo de uso: 
    <img class="iconLogin" src="../../assets/img/culturas.gif">
    
            </ion-card-content>
          </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mapa de Calor Generacional</ion-card-title>
        </ion-card-header>
        <ion-card-content text-left>
Modo de uso: 
<img class="iconLogin" src="../../assets/img/mapa.gif">

        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
        <ion-card>
          <ion-card-header>
              <ion-card-subtitle>Introducción</ion-card-subtitle>
            <ion-card-title>¿Quienes Son?</ion-card-title>
          </ion-card-header>
          <img class="iconLogin" src="../../assets/img/quienes somos.jpg">
          <ion-card-content class="ion-text-justify">
            <b>Ayllu Llakta</b>
            <br>
            Somos un grupo de desarrolladores con un objetivo en común que es tambien el objetivo
            de esta aplicación, y es el de concientizar sobre la importancia de conservar las lenguas nativas 
            y junto con ellas todo el conocimiento y sabiduria ancestral que en conjunto es nuestra cultura y todo lo que nos define
            mostrando la decadencia de las mismas mediante un mapa de calor y un slider que
            nos indica la decadencia de las lenguas por su generación se busca en generar una comunidad interesada en preservar estos valiosos saberes y compartirlos para todo el mundo.
            <br>
            <br>
            <div text-left>
            <b>Desarrolladores:</b>
            <br>
            <a href="https://github.com/JosseAguirre">Jose Aguirre</a>
            <br>
            <a href="https://github.com/AlanysRojas">Alanys Rojas</a>
            <br>
            <a href="https://github.com/cristhianviera1">Gabriel Viera</a>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
  </ion-slides>
</ion-content>