<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ayllu Llakta
      <img class="alineado" height="50" src="../../assets/img/Logolenguas.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <ion-item (click)="testClick()">
        <ion-avatar slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>
          Avatar Start, Button Item
        </ion-label>
      </ion-item>
      
 </ion-card>
</ion-content>